---
title: Deploying Cloud Foundry on Azure	
owner: Release Integration
---

<strong><%= modified_date %></strong>

The following steps document an example procedure for deploying Cloud Foundry on Microsoft Azure.

##<a id='prereqs'></a>Prerequisites

To complete this deployment, you need:

* azure login requires a work or school account. Never login with your personal account. If you do not have a work or school account currently, you can easily create a work or school account with the guide.
* 

##<a id='step1'></a> Create a Service Principal
* <a href="azure/create-service-principal.html">Create a Service Principal</a>: Use TK to do TK.

##<a id='step2'></a> Deploy BOSH on Azure
* <a href="azure/deploy-bosh-azure.html">Deploy BOSH on Azure</a>: Use TK to do TK.

##<a id='step3'></a> Deploy Cloud Foundry on Azure
* [Create a Deployment Manifest for Cloud Foundry](../common/create_a_manifest.html)
* [Deploying Cloud Foundry using BOSH:](../common/deploy.html) Deploy!