<p class="note"><strong>Note</strong>:
  配置IP范围的黑名单, 以防止将来部署到你Cloud Foundry安装的apps试图drain内部的Cloud Foundry component的syslogs.
  参见 <a href="../common/log_drain_blacklists.html">Log Drain 黑名单配置</a> 获取更多信息.</p>
