进行下列步骤, 你必须安装好[BOSH CLI](https://bosh.io/docs/bosh-cli.html).

1. 使用`bosh target`命令加以你的BOSH Director的地址, 以连接到BOSH Director.
用默认的用户名和密码,`admin`及`admin`, 或者你在安装BOSH时使用的用户名和密码, 登录到BOSH Director
	<pre class="terminal">
	$ bosh target <span>https</span>://bosh.my-domain.example.com
	Target set to `bosh'
	Your username: admin
	Enter password: *****
	Logged in as 'admin'
	</pre>
1. 使用`bosh status --uuid`命令查看关于你BOSH部署的信息. 记录下BOSH Director的UUID.
在[定制](#editing)Cloud Foundry部署manifest文件stub时会使用到这个UUID.
	<pre class="terminal">
	$ bosh status --uuid
	abcdef12-3456-7890-abcd-ef1234567890
	</pre>
