To generate a deployment manifest, perform the following steps:
为生成部署manifest文件, 进行下列步骤:

1. 克隆 cf-release的GitHub repository. 使用`git clone`将最新的Cloud Foundry配置文件拷贝到你的机器上.
    <pre class="terminal">
    $ git clone https://github.com/cloudfoundry/cf-release.git
    </pre>

1. 在`cf-release`目录, 运行update脚本获取所有的子模块.

    <pre class="terminal">
    $ cd cf-release
    $ ./scripts/update
    </pre>

<p class="note"><strong>Note</strong>:
  确认你有最新版本的Cloud Foundry代码以及所有需要的子模块.</p>

1. 安装[spiff](https://github.com/cloudfoundry-incubator/spiff), 这是一个用来生成部署manifest文件的命令行工具.

1. 在`cf-release`目录运行下列命令, 以创建名为`cf-deployment.yml`的部署manifest文件:
    <pre class="terminal">
    $ ./scripts/generate\_deployment\_manifest IAAS PATH-TO-MANIFEST-STUB > cf-deployment.yml
    </pre>
    * 替换 `IAAS` 为 `aws`, `openstack`, 或 `vsphere`. 如果是vSphere, vCloud Air, 以及 vCloud Director, 使用 `vsphere`.
    * 替换 `PATH-TO-MANIFEST-STUB` 为 你 `cf-stub.yml` 文件的位置.

    <p class="note"><strong>Note</strong>:
      脚本文件<code>generate_deployment_manifest</code> 可以接受多个stub文件.
      例如, 下列命令传递两个stub文件给脚本:: <br/>
    <code>./scripts/generate_deployment_manifest vsphere cf-stub.yml cf-consul.yml > cf-deployment.yml
    </code></p>

1. 使用`bosh deployment` 命令设定你的部署为生成的manifest文件:
    <pre class="terminal">
    $ bosh deployment cf-deployment.yml
    </pre>

现在你已经准备好部署Cloud Foundry了. 说明见[部署Cloud Foundry](../common/deploy.html).
